ul,
li,
p {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.react-autosuggest__container {
  height: 100vh;
}

.react-autosuggest__input {
  position: absolute;
  top: 50%;
  left: calc(50% - 242px);
  margin: 0 auto;
  border: 2px solid grey;
  width: 400px;
  height: 40px;
  padding: 0 40px;
  font-size: 18px;
}

.react-autosuggest__suggestions-container--open {
  outline: 2px solid #e7e7e7;
  position: relative;
  top: calc(50% + 44px);
  width: 480px;
  margin: 0 auto;
  overflow: auto;
  max-height: 200px;
}

.react-autosuggest__suggestions-list {
  text-decoration: none;
  text-align: left;
}

.react-autosuggest__suggestions-list li {
  min-height: 40px;
  line-height: 40px;
  padding: 0 40px;
}

.react-autosuggest__suggestions-list li:hover {
  background-color: #e7e7e7;
}
